.title{
    font-size: 28px;
    text-align: center;
}
.about1 {
    text-align: center;
     
  }
  .about1 .we-are {
    font-size: 70px;

  }
  .about1 .p1 {
    font-size: 30px;
    color: rgb(36, 35, 35);
  }