*{
    text-align: center;
}.title{
    font-size: 28px;
    text-align: center;
}
.about1 {
    text-align: center;
  }
  .about1 .we-are {
    font-size: 45px;
  }
  .about1 .p1 {
    font-size: 30px;
    color: rgb(36, 35, 35);
  }
  .members .we-are {
    font-size: 70px;

  }
  .first-3 .m1 {
    border-color: black;
    border-width: 2px;
    border-style: solid;
    height: 500px;
    display: inline-block;
    justify-content: space-evenly;
    margin: 20px;
    padding: 10px;
    width: 350px;
    font-size: 30px;
    box-shadow: 0 0 10px 3px #4f4c4e;
    border-radius: 15px;
  }
  .socials {
    border-radius: 20px;
  }