
body {
    background-size: cover;
}

.call {
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
}

.d-flex {
    margin-top: 15px;
    margin-left: 50px;
}

.main-btn {
    margin-left: 400px;
    width: 100px;
    border-radius: 10px;
}


.h-1 {
    margin-top: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: bold;
}

.h-3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: bold;
}

.img {
    width: 27px;
    margin-left: 45px;
}

.bg-img {
    min-height: 100vh;
}

.body {
    background-image: url("../images/bg-2.png");
    min-height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}