

.bg-img {
    background-image: url("./../images/bg-3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.call{
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
    
}
.d-flex
{
    margin-top: 15px;
}

.heading-1 {
    margin-left: 30px;
    margin-top: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.heading-2 {
    margin-left: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
}

.icon {
    width: 30px;
    margin-left: 20px;
    
}

.heading-3 {
    margin-left: 150px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}
#exampleFormControlInput1 {
    width: 800px;
    height: 50px;
  
}
#exampleFormControlInput2 {
    width: 800px;
    height: 50px;
}
#exampleFormControlTextarea1 {
    width: 800px;
    height: 100px;
}
.form-label {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.btn-1 {
    margin-left: 300px;
}